name: totem_app
description: "Guided introspection groups."
publish_to: "none"
version: 0.0.36+35
environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter

  # State Management
  flutter_riverpod: ^3.1.0
  riverpod_annotation: ^4.0.0

  # Routing
  go_router: ^17.0.0
  url_launcher: ^6.3.1
  share_plus: ^12.0.1

  # Environment and Storage
  flutter_dotenv: ^6.0.0
  # flutter_secure_storage: ^10.0.0-beta.4
  flutter_secure_storage: ^10.0.0
  logger: ^2.6.0
  shared_preferences: ^2.5.3

  # Networking & Serialization
  dio: ^5.8.0+1
  retrofit: ^4.9.1
  json_annotation: ^4.9.0
  cached_network_image: ^3.4.1
  connectivity_plus: ^7.0.0
  uuid: ^4.5.1

  # Messaging
  firebase_core: ^4.0.0
  firebase_messaging: ^16.0.0
  flutter_local_notifications: ^19.3.0
  posthog_flutter: ^5.0.0
  intl: ^0.20.2
  sentry_flutter: ^9.8.0
  sentry_dio: ^9.8.0

  # Video Experience
  livekit_client: ^2.6.0
  livekit_components: ^1.3.0
  flutter_foreground_task: ^9.2.0
  wakelock_plus: ^1.4.0
  in_app_review: ^2.0.11
  battery_plus: ^7.0.0
  permission_handler: ^12.0.1

  # UI & Utilities
  auto_size_text: ^3.0.0
  flutter_html: ^3.0.0
  markdown: ^7.3.0
  # flutter_native_splash: ^2.4.6
  pinput: ^6.0.1
  flutter_boring_avatars: ^2.0.1
  flutter_svg: ^2.2.3
  image_picker: ^1.1.2
  timeago: ^3.7.1
  sliver_tools: ^0.2.12
  flutter_confetti: ^0.5.1
  shimmer: ^3.0.0
  collection: ^1.19.1
  meta:

dev_dependencies:
  # Testing
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  mockito: ^5.5.0
  mocktail: ^1.0.4

  # Linting
  flutter_lints: ^6.0.0
  very_good_analysis: ^10.0.0
  custom_lint: ^0.8.0
  riverpod_lint: 3.1.0

  # Generators
  riverpod_generator: ^4.0.0
  swagger_parser: ^1.36.0
  retrofit_generator: ^10.2.1
  json_serializable: ^6.9.5
  build_runner: ^2.10.4

  # App Icon and Splash Screens
  flutter_launcher_icons: ^0.14.3
  flutter_native_splash: ^2.4.7

dependency_overrides:
  # TODO: Remove this override when livekit supports latest protobuf
  protobuf: ^4.2.0

flutter:
  default-flavor: production
  uses-material-design: true

  assets:
    - .env
    - assets/images/
    - assets/logo/

flutter_launcher_icons:
  android: true
  ios: false
  image_path: "assets/logo/ig_logo.jpg"
  min_sdk_android: 21 # android min sdk min:16, default 21

  adaptive_icon_background: "#FFF4DC92" # yellow
  adaptive_icon_foreground: "assets/logo/Icon_black_square.png"
  adaptive_icon_monochrome: "assets/logo/Icon_colored_square.png"

  image_path_ios: "assets/logo/Icon_colored_square.png"
  # image_path_ios_dark_transparent: "assets/logo/Icon_white_square.png"
  remove_alpha_ios: true
  # background_color_ios: "#F4DC92" # yellow

  web:
    generate: false
    image_path: "assets/logo/logo-square-black-512.png"
    background_color: "#FFF4DC92" # yellow
    theme_color: "#FF987AA5" # purple

flutter_native_splash:
  # dart run flutter_native_splash:create
  background_image: "assets/images/splash_bg.png"

  image: "assets/logo/Icon_black_square.png"

  # Please visit https://developer.android.com/guide/topics/ui/splash-screen
  # Following are specific parameters for Android 12+.
  android_12:
    # The image parameter sets the splash screen icon image.  If this parameter is not specified,
    # the app's launcher icon will be used instead.
    # Please note that the splash screen will be clipped to a circle on the center of the screen.
    # App icon with an icon background: This should be 960×960 pixels, and fit within a circle
    # 640 pixels in diameter.
    # App icon without an icon background: This should be 1152×1152 pixels, and fit within a circle
    # 768 pixels in diameter.  To fit a 1152x1152 image within a circle with a 768 diameter, simply
    # ensure that the most important design elements of your image are placed within a circular area
    # with a 768 diameter at the center of the 1152x1152 canvas.
    image: "assets/logo/Icon_black_square.png"

    # Splash screen background color.
    color: "#F4DC92" # yellow

    # App icon background color.
    #icon_background_color: "#111111"

    # The branding property allows you to specify an image used as branding in the splash screen.
    # branding: "assets/logo/logo-black.png"

    # The image_dark, color_dark, icon_background_color_dark, and branding_dark set values that
    # apply when the device is in dark mode. If they are not specified, the app will use the
    # parameters from above.  If there is no parameter above, the app will use the light mode values.
    #image_dark: assets/android12splash-invert.png
    #color_dark: "#262F37" # slate
    #icon_background_color_dark: "#eeeeee"

  # To hide the notification bar, use the fullscreen parameter.  Has no effect in web since web
  # has no notification bar.  Defaults to false.
  # NOTE: Unlike Android, iOS will not automatically show the notification bar when the app loads.
  #       To show the notification bar, add the following code to your Flutter app:
  #       WidgetsFlutterBinding.ensureInitialized();
  #       SystemChrome.setEnabledSystemUIMode(SystemUiMode.manual, overlays: [SystemUiOverlay.bottom, SystemUiOverlay.top], );
  #fullscreen: true
