name: totem_app
description: "A new Flutter project."
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_riverpod: ^2.6.1
  riverpod_annotation: ^2.6.1
  go_router: ^14.8.1
  flutter_dotenv: ^5.2.1
  flutter_secure_storage: ^9.2.4
  dio: ^5.8.0+1
  json_annotation: ^4.9.0
  retrofit: ^4.4.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  riverpod_generator: ^2.6.5
  custom_lint: ^0.7.5
  riverpod_lint: ^2.6.5
  swagger_parser: ^1.22.0
  retrofit_generator: ^9.1.9
  json_serializable: ^6.9.4
  carapacik_lints: ^1.11.1
  build_runner: ^2.4.15

flutter:
  uses-material-design: true

  assets:
    - .env
