name: totem_app
description: "Guided introspection groups."
publish_to: "none"
version: 0.0.27+26
environment:
  sdk: ^3.8.0

dependencies:
  flutter:
    sdk: flutter

  # State Management
  flutter_riverpod: ^3.0.3
  riverpod_annotation: ^3.0.3

  # Routing
  go_router: ^16.2.0
  url_launcher: ^6.3.1
  share_plus: ^12.0.1

  # Environment and Storage
  flutter_dotenv: ^6.0.0
  # flutter_secure_storage: ^10.0.0-beta.4
  flutter_secure_storage: ^9.2.4
  logger: ^2.6.0
  shared_preferences: ^2.5.3



  # Networking & Serialization
  dio: ^5.8.0+1
  retrofit: ^4.4.2
  json_annotation: ^4.9.0
  cached_network_image: ^3.4.1
  connectivity_plus: ^6.1.4
  uuid: ^4.5.1

  # Messaging
  firebase_core: ^4.0.0
  firebase_messaging: ^16.0.0
  flutter_local_notifications: ^19.3.0
  sentry_flutter: ^9.0.0
  posthog_flutter: ^5.0.0
  intl: ^0.20.2

  # Video Experience
  livekit_client: ^2.5.0+hotfix.3
  livekit_components:
    git:
      url: https://github.com/livekit/components-flutter.git
  wakelock_plus: ^1.4.0

  # UI & Utilities
  auto_size_text: ^3.0.0
  flutter_html: ^3.0.0
  markdown: ^7.3.0
  # flutter_native_splash: ^2.4.6
  google_fonts: ^6.2.1
  pinput: ^5.0.1
  flutter_boring_avatars: ^2.0.1
  flutter_svg: ^2.1.0
  image_picker: ^1.1.2
  timeago: ^3.7.1
  sliver_tools: ^0.2.12
  flutter_confetti: ^0.5.1
  shimmer: ^3.0.0
  collection: ^1.19.1
  meta:

dev_dependencies:
  # Testing
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  mockito: ^5.5.0
  mocktail: ^1.0.4

  # Linting
  flutter_lints: ^6.0.0
  very_good_analysis: ^10.0.0
  custom_lint: ^0.8.0
  riverpod_lint: ^3.0.3

  # Generators
  riverpod_generator: ^3.0.3
  swagger_parser: ^1.22.0
  retrofit_generator: ^10.0.0
  json_serializable: ^6.9.5
  build_runner: ^2.5.4

  # App Icon and Splash Screens
  flutter_launcher_icons: ^0.14.3

flutter:
  uses-material-design: true

  assets:
    - .env
    - assets/images/
    - assets/logo/

flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/logo/ig_logo.jpg"
  min_sdk_android: 21 # android min sdk min:16, default 21

  adaptive_icon_background: "#FFF4DC92" # yellow
  adaptive_icon_foreground: "assets/logo/Icon_black_square.png"
  adaptive_icon_monochrome: "assets/logo/Icon_colored_square.png"

  image_path_ios: "assets/logo/Icon_colored_square.png"
  # image_path_ios_dark_transparent: "assets/logo/Icon_white_square.png"
  remove_alpha_ios: true
  # background_color_ios: "#F4DC92" # yellow

  web:
    generate: true
    image_path: "assets/logo/logo-square-black-512.png"
    background_color: "#FFF4DC92" # yellow
    theme_color: "#FF987AA5" # purple

flutter_native_splash:
  # This package generates native code to customize Flutter's default white native splash screen
  # with background color and splash image.
  # Customize the parameters below, and run the following command in the terminal:
  # dart run flutter_native_splash:create
  # To restore Flutter's default white splash screen, run the following command in the terminal:
  # dart run flutter_native_splash:remove

  # IMPORTANT NOTE: These parameter do not affect the configuration of Android 12 and later, which
  # handle splash screens differently that prior versions of Android.  Android 12 and later must be
  # configured specifically in the android_12 section below.

  # color or background_image is the only required parameter.  Use color to set the background
  # of your splash screen to a solid color.  Use background_image to set the background of your
  # splash screen to a png image.  This is useful for gradients. The image will be stretch to the
  # size of the app. Only one parameter can be used, color and background_image cannot both be set.
  color: "#F4DC92" # yellow
  #background_image: "assets/background.png"

  # Optional parameters are listed below.  To enable a parameter, uncomment the line by removing
  # the leading # character.

  # The image parameter allows you to specify an image used in the splash screen.  It must be a
  # png file and should be sized for 4x pixel density.
  image: "assets/logo/Icon_black_square.png"

  # The branding property allows you to specify an image used as branding in the splash screen.
  # It must be a png file. It is supported for Android, iOS and the Web.  For Android 12,
  # see the Android 12 section below.
  branding: "assets/logo/logo-black.png"

  # To position the branding image at the bottom of the screen you can use bottom, bottomRight,
  # and bottomLeft. The default values is bottom if not specified or specified something else.
  #branding_mode: bottom

  # Set the branding padding from the bottom of the screen.  The default value is 0
  # (Not supported on web yet)
  # branding_bottom_padding: 24

  # The color_dark, background_image_dark, image_dark, branding_dark are parameters that set the background
  # and image when the device is in dark mode. If they are not specified, the app will use the
  # parameters from above.  If there is no parameter above, the app will use the light mode values.
  # If the image_dark parameter is specified, color_dark or background_image_dark must be specified.
  # color_dark and background_image_dark cannot both be set.
  #color_dark: "#262F37" # slate
  #background_image_dark: "assets/dark-background.png"
  #image_dark: assets/logo/logoB&W.png
  #branding_dark: assets/dart_dark.png

  # From Android 12 onwards, the splash screen is handled differently than in previous versions.
  # Please visit https://developer.android.com/guide/topics/ui/splash-screen
  # Following are specific parameters for Android 12+.
  android_12:
    # The image parameter sets the splash screen icon image.  If this parameter is not specified,
    # the app's launcher icon will be used instead.
    # Please note that the splash screen will be clipped to a circle on the center of the screen.
    # App icon with an icon background: This should be 960×960 pixels, and fit within a circle
    # 640 pixels in diameter.
    # App icon without an icon background: This should be 1152×1152 pixels, and fit within a circle
    # 768 pixels in diameter.  To fit a 1152x1152 image within a circle with a 768 diameter, simply
    # ensure that the most important design elements of your image are placed within a circular area
    # with a 768 diameter at the center of the 1152x1152 canvas.
    image: "assets/logo/Icon_black_square.png"

    # Splash screen background color.
    color: "#F4DC92" # yellow

    # App icon background color.
    #icon_background_color: "#111111"

    # The branding property allows you to specify an image used as branding in the splash screen.
    branding: "assets/logo/logo-black.png"

    # The image_dark, color_dark, icon_background_color_dark, and branding_dark set values that
    # apply when the device is in dark mode. If they are not specified, the app will use the
    # parameters from above.  If there is no parameter above, the app will use the light mode values.
    #image_dark: assets/android12splash-invert.png
    #color_dark: "#262F37" # slate
    #icon_background_color_dark: "#eeeeee"

  # To hide the notification bar, use the fullscreen parameter.  Has no effect in web since web
  # has no notification bar.  Defaults to false.
  # NOTE: Unlike Android, iOS will not automatically show the notification bar when the app loads.
  #       To show the notification bar, add the following code to your Flutter app:
  #       WidgetsFlutterBinding.ensureInitialized();
  #       SystemChrome.setEnabledSystemUIMode(SystemUiMode.manual, overlays: [SystemUiOverlay.bottom, SystemUiOverlay.top], );
  #fullscreen: true
