# dart run swagger_parser
# dart run build_runner build -d
swagger_parser:
  output_directory: lib/api
  language: dart
  json_serializer: json_serializable
  default_content_type: "application/json"

  # Optional (dart only). Set 'true' to generate root client
  # with interface and all clients instances.
  root_client: true

  export_file: true

  enums_to_json: false

  enums_parent_prefix: true

  # Optional (dart only). Set 'true' to maintain backwards compatibility
  # when adding new values on the backend.
  unknown_enum_value: true

  # Optional (dart only). Set 'true' to wrap all request return types with HttpResponse.
  original_http_response: false

  schemes:
    - schema_url: https://www.totem.org/api/v1/openapi.json
      name: totem_api
      root_client_name: TotemApi
    - schema_url: https://totem.kbl.io/api/mobile/openapi.json
      name: totem_mobile_api
      root_client_name: MobileTotemApi
