name: Build Flutter Client
on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  build_android_apk:
    name: Android ABI (${{ matrix.flavor }})
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: false
      matrix:
        flavor: [staging, production]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: recursive

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17.x"
          cache: "gradle"

      - name: Setup Flutter
        uses: subosito/flutter-action@v2.8.0
        with:
          channel: "stable"
          cache: true

      - name: Setup Environment
        uses: ./.github/actions/setup-environment
        with:
          firebase_options: ${{ secrets.FIREBASE_OPTIONS_B64 }}
          google_services_json: ${{ secrets.GOOGLE_SERVICES_JSON_B64 }}

      - name: Flutter pub get
        run: flutter pub get

      - name: Run Tests
        run: flutter test

      - name: Build ABI
        run: flutter build appbundle --verbose --flavor ${{ matrix.flavor }}


  build_ios_ipa:
    name: iOS IPA (${{ matrix.flavor }})
    runs-on: macos-latest
    
    strategy:
      fail-fast: false
      matrix:
        flavor: [staging, production]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: recursive

      - name: Setup Flutter
        uses: subosito/flutter-action@v2.8.0
        with:
          channel: "stable"
          cache: true

      - name: Setup Environment
        uses: ./.github/actions/setup-environment
        with:
          firebase_options: ${{ secrets.FIREBASE_OPTIONS_B64 }}
          google_service_plist: ${{ secrets.GOOGLE_SERVICE_INFO_PLIST_B64 }}

      - name: Flutter pub get
        run: flutter pub get

      - name: Build IPA
        run: flutter build ipa --verbose --no-codesign --flavor ${{ matrix.flavor }}