name: Deploy to GitHub Pages

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Create .env file
        run: echo 'API_URL="https://www.totem.org"' > .env

      - uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Download Dependencies
        run: flutter pub get

      - name: Install Firebase CLI
        run: |
          curl -sL https://firebase.tools | bash
          dart pub global activate flutterfire_cli

      - name: Setup Firebase auth
        run: firebase login:ci --token ${{ secrets.FIREBASE_TOKEN }}

      - name: Run flutterfire configure
        run: flutterfire configure --project=totem-app-70d34 --out=lib/firebase_options.dart --platforms=web --overwrite-firebase-options
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}

      - name: Build
        run: flutter build web

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
          force_orphan: true
          user_name: "github-ci[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
          commit_message: "Publish to gh-pages"
