name: Build and Draft Release on Tag

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

concurrency:
  group: draft-release-${{ github.ref }}
  cancel-in-progress: false

jobs:
  create_draft_release:
    name: Create/Update Draft Release
    runs-on: ubuntu-latest
    steps:
      - name: Create/Update Draft Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          draft: true
          generate_release_notes: true

  android:
    name: Android - Build and Upload Artifacts
    runs-on: ubuntu-latest
    needs: create_draft_release
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Create .env file
        run: echo 'API_URL="https://www.totem.org"' > .env

      - name: Build Android AppBundle (Release)
        uses: ./.github/actions/build-android
        with:
          keystore-base64: ${{ secrets.ANDROID_KEYSTORE_FILE_BASE64 }}
          keystore-password: ${{ secrets.ANDROID_KEY_STORE_PASSWORD }}
          firebase-options-b64: ${{ secrets.FIREBASE_OPTIONS_B64 }}
          google-services-json-b64: ${{ secrets.GOOGLE_SERVICES_JSON_B64 }}

      - name: Upload AAB to Draft Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          draft: true
          files: build/app/outputs/bundle/release/app-release.aab

  ios:
    name: iOS - Build and Upload Artifacts
    runs-on: macos-latest
    needs: create_draft_release
    env:
      IOS_CERTIFICATE_P12: ${{ secrets.IOS_CERTIFICATE_P12 }} # base64 of .p12
      IOS_CERTIFICATE_PASSWORD: ${{ secrets.IOS_CERTIFICATE_PASSWORD }}
      IOS_PROVISIONING_PROFILE: ${{ secrets.IOS_PROVISIONING_PROFILE }} # base64 of .mobileprovision
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Create .env file
        run: echo 'API_URL="https://www.totem.org"' > .env

      - uses: ./.github/actions/build-ios
        with:
          # always use --export-options-plist=ios/GithubActionsExportOptions.plist
          build-cmd: flutter build ipa --release --export-options-plist=ios/GithubActionsExportOptions.plist
          certificate-base64: ${{ secrets.IOS_BUILD_CERTIFICATE_BASE64 }}
          certificate-password: ${{ secrets.IOS_BUILD_CERTIFICATE_PASSWORD }}
          provisioning-profile-base64: ${{ secrets.IOS_MOBILE_PROVISIONING_PROFILE_BASE64 }}
          keychain-password: ${{ secrets.IOS_GITHUB_KEYCHAIN_PASSWORD }}
          firebase-options-b64: ${{ secrets.FIREBASE_OPTIONS_B64 }}
          google-service-info-plist-b64: ${{ secrets.GOOGLE_SERVICE_INFO_PLIST_B64 }}

      - name: Upload IPA to Draft Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          draft: true
          files: build/ios/ipa/*.ipa
