name: Flutter Analysis
on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:

jobs:
  package-analysis:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Flutter
        uses: subosito/flutter-action@main
        with:
          channel: stable

      - name: Flutter version
        run: flutter --version

      - name: Create .env file
        run: echo 'API_URL="https://www.totem.org"' > .env

      # - name: Install Firebase CLI
      #   run: |
      #     curl -sL https://firebase.tools | bash
      #     dart pub global activate flutterfire_cli

      - name: Decode firebase_options.dart
        run: |
          mkdir -p lib
          echo "${{ secrets.FIREBASE_OPTIONS_B64 }}" | base64 -d > lib/firebase_options.dart

      - name: Install dependencies
        run: flutter pub get

      - name: Check formatting
        run: |
          dart format --set-exit-if-changed . || (echo "::error::Code needs formatting. Run 'dart format .' locally and commit the changes." && exit 1)

      - name: Run analysis
        run: flutter analyze

    #   - name: Run tests
    #     run: flutter test
