name: Flutter Analysis
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  package-analysis:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install Flutter
        uses: subosito/flutter-action@main
        with:
          channel: stable

      - name: Create .env file
        run: echo 'API_URL="https://www.totem.org"' > .env

      - name: Install Firebase CLI
        run: |
          curl -sL https://firebase.tools | bash
          dart pub global activate flutterfire_cli

      - name: Setup Firebase auth
        run: firebase login:ci --token ${{ secrets.FIREBASE_TOKEN }}

      - name: Run flutterfire configure
        run: flutterfire configure --project=totem-app-70d34 --out=lib/firebase_options.dart --platforms=web --overwrite-firebase-options
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}

      - name: Install dependencies
        run: flutter pub get

      - name: Check formatting
        run: dart format --set-exit-if-changed .

      - name: Run analysis
        run: flutter analyze

    #   - name: Run tests
    #     run: flutter test